.topnav {
    overflow: hidden;
    margin: 3.5%;
    a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 12px 12px;
        margin: 5px;
        text-decoration: none;
        font-size: 20px;
        font-family: Roboto, sans-serif;
    }    
    a:hover {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 15px;
    }
    a.active {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 15px;
    }    
    .icon {
        display: none;
    }
}
  .header-logo {
      float: left;
  }
  .main-navbar {
      float: right;
  }
