@media screen and (max-width: 1040px) {
 #myTopnav{
    max-width: 100%;
  }
  .header-logo{
    width: 25%;
  }
  .logoImage{
    width: 100%;
  }
  .hero-content::after{
    position: relative;
    text-align: unset;
  }
  .main-navbar{
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }
  .main-navbar a{    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
  }
  .hero-text {
    width: unset;
    font-size: 1.5rem;
  }
  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  @media screen and (max-width: 540px) {
    .error-message, .error-messageN, .error-messageE, .error-messageD, .error-messageT{
    font-size: 9px;
    }
  .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
     /* margin-top: -15px;*/
    }
  }
   @media screen and (max-width: 425px) {
     .header-logo{
       width: 50%;
     }
     .logoImage{
       width: 100%;
       margin-top: 15px;
     }
     #myTopnav{
       display: inline-flex;
       flex-direction: row;
       justify-content: space-between;
       align-items:flex-start;
     }
     main{
       margin: 0;
     }
     .main-navbar a{
       font-size: 12px;
       padding: 6px 6px;
     }
     .hero-section{
       max-width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: unset;
       align-items: center;
     }
     .hero-content{
       min-width: 100px;
       padding: 0 20px;
     }
     .hero-headline{
       font-size: 1.5em;
       width: 100%;
       white-space: nowrap;
     }
     .hero-text{
       width: 100%;
       margin-top: 20px;
     }
     footer{
       padding-left: 0;
     }
   } 
  @keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }
  
  